.header {
  background-color: #8b1e1e; /* color del fondo header */
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CAMBIO DE LETRA */

p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a, h2, h3, h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



.titulo {
  background-color: white; /* color "subrayado" titulo */
  padding: 20px 40px;
  border-radius: 8px;
  color: #8b1e1e;
  font-size: 200%;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f8eaea;
}

/* ELEMENTO FLOTANTE */
.flotante {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ff00ee;
  color: white;
  padding: 13px 15px;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none; /* Quitar subrayado del enlace */
}

/* LAYOUT PRINCIPAL */
.layout {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* COLUMNA DEL MENÚ */
.menu {
  background-color: #8b1e1e;
  color: white;
  padding: 20px;
  width: 200px;
}

.menu ul {
  list-style: none;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* COLUMNA CONTENIDO */
.contenido {
  background-color: white;
  padding: 20px;
  flex: 1;
}

/* BLOQUES */
.bloque {
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 2px solid #c0392b;
}

.bloque h2 {
  color: #8b1e1e;
  margin-bottom: 15px;
}

/* GALERÍA */
.galeria-grid {
  display: flex;
  flex-wrap: wrap;
}


.galeria-grid img {
  width: 33.33%;
  margin-bottom: 10px;
}

/* LUGARES */
.lugares-grid {
  display: flex;
  flex-wrap: wrap;
}

.lugar {
  background-color: #f8eaea;
  padding: 10px;
  width: 50%;
  margin-bottom: 15px;
}


.imagen_lugar {
  width: 100%;
}

/* MAPA */
.mapa {
  width: 100%;
}

/* NOTICIAS */
.noticias {
  background-color: #c0392b;
  color: white;
  padding: 20px;
  width: 250px;
}

.noticia {
  background-color: #8b1e1e;
  padding: 10px;
  margin-bottom: 15px;
}

.noticia img {
  width: 100%;
}


.noticia a {
  color: #ffdede;
  font-size: 15px;
  text-decoration: none; /* Quitar subrayado del enlace */
}

/* TEXTO OVERFLOW */
.noticia p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

/* RESPONSIVE EN LA TABLET */
@media (max-width: 1025px) {
  .layout {
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
  }

  .noticias {
    width: 100%;
  }

 
  .galeria-grid img {
    width: 50%;
  }
}

/* RESPONSIVE EN MÓVIL */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }


  .galeria-grid img {
    width: 100%;
  }


  .lugar {
    width: 100%;
  }
}


/* carrusel */

.carousel {
  width: 25%;
  height: 500px;
  margin-bottom: 20px;

}


.bootstrap {
    display: flex;
  justify-content: center;
  align-items: center
}



/* footer */

.footer {
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letra_footer {
  color: white;
  text-align: center;
}